<%page expression_filter="h"/>
<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../main.html" />

<%block name="pagetitle">${_("About")}</%block>

<main id="main" aria-label="Content" tabindex="-1">
    <section class="container about">
        <h1>
            <%block name="pageheader">${page_header or _("About")}</%block>
        </h1>
        <p>
            <%block name="pagecontent">
				
				<<h2>MDBC is a company founded on 25 years experience in HE and enabling large scale systems across complex organisations. 
                </h2>
<div class="quote">
<p>Our team have worked across industries around the world improving the education and lives of people by empowering them with knowledge and skills</p>
<p>Helping you is our Mission, Achieving your Goals is our obsession.</p>
</div><div class="strong">
<p>Working with the finest people in world we bring talent and commitment to  your challenge to make it easy for you to get on with what you do best.</p>
<p></p>
<p>MDBC Educational Technology Secure and Simple</p>
		</div>				
				
				{{ PLATFORM_NAME }} is an online learning platform For MDBC technology powered by <a href="https://open.edx.org">Open edX</a>. It runs with <a href="https://docs.tutor.overhang.io">Tutor</a>.
				
				
				
				
				
				
				
				
				</%block>
        </p>
    </section>
</main>