<%page expression_filter="h"/>
<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../main.html" />

<%block name="pagetitle">${_("About")}</%block>

<main id="main" aria-label="Content" tabindex="-1">
    <section class="container about">
        <h1>
            <%block name="pageheader">${page_header or _("About")}</%block>
        </h1>
        <p>
            <%block name="pagecontent">
				
				<<h2>A globally outstanding centre of teaching and research excellence, a collegiate community of extraordinary people, a unique and historic setting &ndash; Durham is a university like no other</h2>
<div class="quote">
<p>We believe that inspiring our people to do outstanding things at Durham enables Durham people to do outstanding things in the world.</p>
<p>So, we conduct boundary breaking research which improves lives across the world. We challenge our students and value a wider student experience that fosters participation and leadership at Durham and beyond. Our supportive approach enables our people to achieve extraordinary things. And our loyal and devoted worldwide community, wherever they go, whatever they do, are always Durham inspired.</p>
</div><div class="strong">
<p>We find it easy to be proud of the extraordinary people we have at Durham. We offer the inspiration, they achieve the outstanding.</p>
<p>We invite you to join them.</p>
<p>Durham University<br> Inspiring the extraordinary</p>
		</div>				
				
				{{ PLATFORM_NAME }} is an online learning platform For Durham University powered by <a href="https://open.edx.org">Open edX</a>. It runs with <a href="https://docs.tutor.overhang.io">Tutor</a>.
				
				
				
				
				
				
				
				
				</%block>
        </p>
    </section>
</main>